div {animation-name: Color;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    }

@keyframes Color {
    0% {background-color: red;}
    25% {background-color: orange;}
    50% {background-color: yellow;}
    75% {background-color: green;}
    100% {background-color: blue;}
}



