div {display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: burlywood;
    border: 5px solid black;
    margin: 5px;}

#Two {position: relative;
    left: 100px}