main {width: 70%;
    background-color:forestgreen;
    margin: auto;
    border: 4px solid black;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20%;}

body {background-color: steelblue;}

img {display: block;
    border: 5px solid gold;
    border-radius: 50%;
    box-sizing: border-box;
    width: 300px;
    margin: auto;}

#h1 {color: blue;}

#h2 {color: red;}