div {
    /* width: 400px If I set width here, it will not grow.; */
    height: 80px;
    border: 5px solid black;}

body {display: flex;
    flex-flow: row nowrap;}

.Growone {flex-grow: 1;}

.Growtwo {flex-grow: 2;}